<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/root-layout}">
<head>
    <title>Products</title>
</head>
<body layout:fragment="content">
    <div class="container mx-auto">
        <h1 class="text-lg font-bold mt-11">The Sweetest Products</h1>

        <ul class="grid grid-cols-3 gap-10">
            <li th:each="product : ${products}" class="p-5 bg-amber-50 shadow-md rounded-md">
                <div class="flex flex-col gap-1">
                    <h4 th:text="${product.name}" class="text-amber-950 font-medium"></h4>
                    <h5 th:text="${product.category.name}" class="text-xs border-neutral-500/30"></h5>
                </div>
                <div class="flex items-center justify-between mt-5">
                    <a th:href="@{/products/{id}/details(id=${product.productId})}" class="btn">View Product</a>
                    <p th:text="${product.price} + '$'" class="text-sm text-amber-500 px-6 py-2 rounded border border-1 border-dashed border-amber-600"></p>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
